* {
  font-family: "JetbrainsMono Nerd Font", serif;
}

#custom-brightness,
#custom-audio,
#battery,
#network,
#clock {
  padding: 0 1rem;
}

#battery.warning:not(.charging) {
  color: yellow;
}

#battery.critical:not(.charging) {
  color: red;
}
